<hr>
<div class="post-box container">
    <div class="post-box-top row">
        <div class="post-box-icon col-sm-auto">
            <img src="{{icon_path}}">
        </div>
        <div class="post-box-labels col-sm">
            <div class="post-box-labels-info">
                <span class="post-box-nickname">
                    {{nick_name}}
                </span>
                <span class="post-box-username">
                    @{{user_name}}
                </span>
                <span class="post-box-created_at">
                    {{created_at}}
                </span>
            </div>
            <div class="post-box-labels-contents">
                <span class="post-box-labels-contents-content">
                    {{content}}
                </span>
            </div>
        </div>
    </div>
</div>
<hr>